<!DOCTYPE html>
<html>
  <head>
    <title>FictionalWeapons</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Weapons</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <% if current_user %>
              <li><a href="#"><%= current_user.name %></a></li>
            <% end %>
            <li><a href="/?discount=discount">Discount Items<span class="sr-only">(current)</span></a></li>
            <li><a href="/weapons/random">Random Item</a></li>
            <li><a href="/?category=swords">Swords</a></li>
            <li><a href="/?category=guns">Guns</a></li>
            <li><a href="/?category=blades">Blades</a></li>
            <li><a href="/?category=friendly">Friendly</a></li>
            <li><a href="/?category=not friendly">Not Friendly</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <% if current_user && current_user.admin %>
                  <li><a href="weapons/new">New Listing</a></li>
                  <li role="separator" class="divider"></li>
                <% end %>

                <li><a href="#">Separated link</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <form class="navbar-form navbar-left">
            <div class="form-group">
              <input type="text" class="form-control" name = "search" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <% if current_user == nil %>
              <li><a href="/signup">Sign Up</a></li>
              <li><a href="/login">Log In</a></li>
            <% else %>
              <li><a href="/logout">Log Out</a></li>
              <li><a href="/checkout"><span class="glyphicon glyphicon-shopping-cart"></span> Cart (<%= @cart_count %>)</a></li>
            <% end %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/?sort=price">Sort by Price (lowest to highest)</a></li>
                <li><a href="/?sort=price&order=desc">Sort by Price (highest to lowest)</a></li>
                <li><a href="/?sort=description">Sort by description</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container-fluid">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %> alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
          <%= value %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
